   <!--Banner and Header-->

   <!--End of Banner and Header-->

    <main id="content">

        <!--Introduction-->

        <!--End of Introduction-->


        <!--Gallery-->

        <!--End of Gallery-->


        <!--Content Section-->

        <!--End of Content Section-->

        <!--Testimonials-->

        <!--End of Testimonials-->

        <!--Clients-->

        <!--End of Clients-->

        <!--Pricing Tables-->

        <!--End of Pricing Tables-->

    </main>

    <!--Footer-->

    <!--End of Footer-->