   <!--Banner and Header-->
   <app-header></app-header>
   <!--End of Banner and Header-->

    <main id="content">

        <!--Introduction-->
        <app-about></app-about>
        <!--End of Introduction-->

        <!--Gallery-->
        <app-gallery></app-gallery>
        <!--End of Gallery-->


        <!--Content Section-->
        <app-services></app-services>
        <!--End of Content Section-->

        <!--Testimonials-->
        <app-testimonials></app-testimonials>
        <!--End of Testimonials-->

        <!--Clients-->
        <app-clients></app-clients>
        <!--End of Clients-->

        <!--Pricing Tables-->
        <app-pricing></app-pricing>
        <!--End of Pricing Tables-->

    </main>

    <!--Footer-->
    <app-footer></app-footer>
    <!--End of Footer-->