<nav id="nav-main">
    <ul>
        <li>
            <a routerlink="/banner" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li>
            <a routerlink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
        </li>
        <li>
            <a routerlink="/gallery" routerLinkActive="active" ariaCurrentWhenActive="page">Gallery</a>
        </li>
        <li>
            <a routerlink="/services" routerLinkActive="active" ariaCurrentWhenActive="page">Services</a>
        </li>
        <li>
            <a routerlink="/testimonials" routerLinkActive="active" ariaCurrentWhenActive="page">Testimonials</a>
        </li>
        <li>
            <a routerlink="/clients" routerLinkActive="active" ariaCurrentWhenActive="page">Clients</a>
        </li>
        <li>
            <a routerlink="/pricing" routerLinkActive="active" ariaCurrentWhenActive="page">Pricing</a>
        </li>
    </ul>
</nav>